[Unit]
Description=Serve Portfolio Site
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/flask-portfolio
ExecStart=/flask-portfolio/env1/bin/python /flask-portfolio/env1/bin/flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target