@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

p, h1, h2, h3, h4, h5, h6, button {
  font-family: "Roboto", serif;
}

body {
  background-color: #292c2f !important;
  width: auto;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  margin: 0px;
}

h2 {
  font-size: 200px;
  font-weight: 700;
  color: black;
}

img {
  width: 200px;
}

.nav-bar {
  width: 100%;
  display: inline-block;
  background-color: #292c2f;
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  padding-top: 10px;
}


#navbar{
  background: #343a40;
}

#navbar a{
color: #ff8c00;
}

#navbar li{
margin-right: 5px;
}

#logo {
width: 200px;
}


.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;

}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

.nav-content nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
}

.profile {
  background-color: #292c2f !important;
  text-align: center;
  height: 430px;
  margin-bottom: 35px;
}

.profile h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.profile h2 {
  font-size: 20px;
  font-weight: 700;
  color: #ff8c00;
}

.profile img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
}

.profile .profile-picture {
  margin-bottom: 0px;
  height: 200px;
}

.banner {
  padding: 20px 0px 50px 0px;
  height: 150px;
  background-color: #1d539f;
}

.banner .logo {
  max-width: 180px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.banner .title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}


.card .container h2 {
  font-size: 35px;
  font-weight: 20px;
  text-align: center;
  margin-top: 1.9%;
  margin-top: .8%;
}
.card .container img {
  width: 5%;
  height: auto;
  float: left;   
  margin: 30px 12px 3px 4px; 

}

.container .lower p {
  font-size: 18px;
  color: black;
}
.container .section .upper p {
  font-size: 20px;
  line-height: .1;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  background-color: #1d539f;
  width: 90%;
  height: auto;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5%;
  word-wrap: normal;
}

/* Shadow */
.card:hover {
  box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 0.1);
}

/* Padding inside Card */
.container {
  margin: 1px 1px 1px 1px;
  padding: 2px 4px;
  padding-top: 1%;
  word-wrap: normal;
  display: block;
  border: #292c2f;
}


.card p {
  text-align: left;
  vertical-align: top;
  word-wrap: normal;
}

#img_1 {
  width: 300px;
  height: 150px;
}


/* Icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #343a40;
  color: #ff8c00;
}

.fa-twitter {
  background: #343a40;
  color: #ff8c00;
}

.fa-instagram {
  background: #343a40;
  color: #ff8c00;
}

.fa-linkedin {
  background: #343a40;
  color: #ff8c00;
}

.fa-github {
  background: #343a40;
  color: #ff8c00;
}

.footer-left .fa-facebook {
  background: black;
  color: #ff8c00;
}

.footer-left .fa-twitter {
  background: black;
  color: #ff8c00;
}

.footer-left .fa-instagram {
  background: black;
  color: #ff8c00;
}

.footer-left .fa-linkedin {
  background: black;
  color: #ff8c00;
}

.footer-left .fa-github {
  background: black;
  color: #ff8c00;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: black !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all .25s;
}

.footer-distributed .footer-left #copyright {
  margin-top: 20px;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }


  .fa-instagram {
    background: #1d539f;
    color: white;
  }

  .fa-linkedin {
    background: #1d539f;
    color: white;
  }

  .fa-github {
    background: #1d539f;
    color: white;
  }

  * {
    font-family: Roboto;
  }
  
  section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* Footer links */


  
  .footer-distributed .footer-links a{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left #copyright {
      margin-top: 20px;

  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }

  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;

  }
}

  .carousel {
    width:50%;
    height: 50%;
    margin: auto;
  }
  .carousel .item {
    height: 50%;
  }
  .carousel img { height: 400px;}
  .carousel .item img {
    opacity: 0.3;
    align-self: center;
    margin: auto;
    
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-inner { 
    background-color: black !important; 
  }

  .align-left{ float: left;width:40%; }
  .section .upper{
    text-align: left;
    line-height: .2;
    margin-top: 1%;
  }
  .section .upper p {
    color: black;
    line-height: .2;
  }

.carousel {
  width: 50%;
  height: 50%;
  margin: auto;
}


.carousel .item {
  height: 50%;
}

.carousel img {
  height: 400px;
}

.carousel .item img {
  opacity: 0.3;
  align-self: center;
  margin: auto;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  background-color: black !important;
}

.align-left {
  float: left;
  width: 50%;
}


.section .upper {
  text-align: left;
  line-height: .2em;
}

.navbar-nav {
  margin-left: 1rem;
  color:#ff8c00 !important;
}
}
.area{
  background: #4e54c8;   
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 140, 0, 0.2);
  animation: animate 25s linear infinite;
  bottom: -5%;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}