<footer class="footer-distributed">

    <div class="footer-left d-flex flex-column align-items-center">

      <p class="footer-links mb-3">
        <a class="link-1" href="/">Home</a>
        <a href="/timeline">Timeline</a>
        <a href="/projects">Projects</a>
      </p>
      <div class="mb-3">
        <a href="https://www.{{facebook}}" class="fa fa-facebook"></a>
        <a href="https://www.{{twitter}}" class="fa fa-twitter"></a>
        <a href="https://www.{{instagram}}" class="fa fa-instagram"></a>
        <a href="https://www.{{linkedin}}" class="fa fa-linkedin"></a>
        <a href="https://www.{{github}}" class="fa fa-github"></a>
      </div>
      <div><p id="copyright">{{name}} &copy; 2022</p></div>
    </div>
  </footer>