<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/mappa-mundi@0.0.4"></script>
	<script src="./static/scripts/sketch.js"></script>

    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <h1>{{ "Alan Turing" }}</h1>
        <h3>Aspiring Skynet Developer and Professional Programmer</h3>
        <p>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-github"></a>
        </p>   
    </div>

    <div class="card">
        <div class="container">
          <h2>About Myself:</h2>
            <!--<img src="./static/img/sample_pic.jpg" id="img_1">-->
                <p>Alan Turing is from Kansas City, Missouri. He obtained his PhD in Computer Science at Yale. He currently works as a Software Developer.</p>
                <p>He is a driven individual and backs down to no one. He plans to one day work as a for his dream company: "Epic Games", and work on his favorite game, "Fortnite"</p>
        </div>
      </div>


    </div>
    <div class="catTitle">Skills</div>

    <div class = "category">
        <b>Programming Languages:</b> Python, R, SQL, JavaScript<br><br>
        <b>Tools:</b> Too Many
    </div>

    <div class="catTitle">Experience</div> <br>

    <div class ="category">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <div class="subCat">The Linux Corporation</div>
        <div class = "h2">June 2020 - Present</div>    
    </div>

    <div class="catTitle">Education</div> <br>

    <div class ="category">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <div class="subCat">PhD in Computer Science</div>
        <div class = "h2">1980 - 1984</div>    
    </div>

    <div class="catTitle">Hobbies</div> <br>

    <div class ="category">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <div class="subCat">Reading</div>
        <div class = "h2">I am an avid reader</div>    
    </div>
    <div id="map"></div>

</body>
</html>