<!-- <header class="nav-bar">
    <div class="nav-content">
      <a href="/">
        <div class="nav-logo">
          <img src="./static/img/logo.svg" />
        </div>
      </a>
    </div>
  </header> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav-content">
        <a href="/">
            <div class="nav-logo">
                <img src="./static/img/logo.svg" />
            </div>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{url}}">Home</a>
            <a class="nav-item nav-link" href="hobbies">Hobbies</a>
            <form id="contactForm" name="sentMessage" novalidate="novalidate"
            action="mailto:{{email}}?subject=feedback&body=message">
            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Contact</button>
            </div>
          </form>
        </div>
    </div>
</nav>